<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.repository.CommunityRepository">
	<select id="findByProjectId" resultType="CommunityVo" parameterType="HashMap">
		select * from (
		select rownum rn, T.* from (
			select C.*, M.nickname, M.profile_img, to_char(C.date_created, 'yyyy-mm-dd hh24:mi:ss') formattedDate from (
				select L.*, nvl(R.replyCount, 0) replyCount from community L left outer join (
					select parent_community_id, count(parent_community_id) replyCount from community where project_id = #{projectId} and is_deleted = 'N' group by parent_community_id
				) R on L.id = r.parent_community_id where project_id = #{projectId} and l.parent_community_id is null
				<if test="category==2">
					and community_category_id = #{category}
				</if>
			) C left outer join member M on C.member_id = M.id where C.is_deleted = 'N' order by C.id desc
		) T )
		<where>
			<if test="page != null">
				and rn between #{page}*5-4 and #{page}*5
			</if>
			<if test="page == null">
				and rn between 1 and 5
			</if>
		</where>
	</select>
	
	<select id="getCountByCategory" resultType="int" parameterType="HashMap">
		select count(*) from (
			select C.*, M.nickname, M.profile_img, to_char(C.date_created, 'yyyy-mm-dd hh24:mi:ss') formattedDate from (
				select L.*, nvl(R.replyCount, 0) replyCount from community L left outer join (
					select parent_community_id, count(parent_community_id) replyCount from community where project_id = #{projectId} and is_deleted = 'N' group by parent_community_id
				) R on L.id = r.parent_community_id where project_id = #{projectId} and l.parent_community_id is null
				<if test="category==2">
					and community_category_id = #{category}
				</if>
			) C left outer join member M on C.member_id = M.id where C.is_deleted = 'N' order by C.id desc)
	</select>
	
	<select id="findReply" resultType="CommunityVo" parameterType="HashMap">
		select * from (
			select rownum rn, T.* from (
			select C.*, M.nickname, M.profile_img, to_char(C.date_created, 'yyyy-mm-dd hh24:mi:ss') formattedDate from community C left outer join member M on C.member_id = M.id 
				where C.parent_community_id = #{parentId} and C.is_deleted = 'N' order by C.id desc
		) T )
			<where>
				<if test="page != null">
					and rn between #{page}*10-9 and #{page}*10
				</if>
				<if test="page == null">
					and rn between 1 and 10
				</if>
			</where>
	</select>
	
	<select id="findById"  resultType="CommunityVo" parameterType="int">
		select C.*, M.nickname, M.profile_img, to_char(C.date_created, 'yyyy-mm-dd hh24:mi:ss') formattedDate from (
			select * from community where id = #{id}
		) C left outer join member M on C.member_id = M.id order by C.id desc
	</select>
	
	<select id="getReplyCount" resultType="int" parameterType="int">
		select count(*) from community where parent_community_id = #{parentId} and is_deleted = 'N'
	</select>
</mapper>